<a href="/admin/review" class="nav-link block rounded-md px-3 py-2" {{#if (eq page "review")}}data-active{{/if}}>Review queue</a>
<a href="/admin/zones" class="nav-link block rounded-md px-3 py-2" {{#if (eq page "zones")}}data-active{{/if}}>Zone map</a>
<a href="/admin/flagged" class="nav-link block rounded-md px-3 py-2" {{#if (eq page "flagged")}}data-active{{/if}}>User-flagged</a>
<a href="/admin/reports" class="nav-link block rounded-md px-3 py-2" {{#if (eq page "reports")}}data-active{{/if}}>User reports</a>
<a href="/admin/logs" class="nav-link block rounded-md px-3 py-2" {{#if (eq page "logs")}}data-active{{/if}}>Logs</a>
<a href="/admin/new" class="nav-link block rounded-md px-3 py-2" {{#if (eq page "new")}}data-active{{/if}}>Add notice</a>
